.head{
    display: flex;
}
.card{
    margin: 2vw;
    background-color: transparent !important;
    border: 3px solid rgb(53, 173, 233);
    /* background-color: aqua; */
    box-shadow: 0px 0px 1vw rgb(239, 90, 139);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 180px;
    width: 340px;
}
.card:hover{
    margin: 2vw;
    background-color: transparent !important;
    border: 3px solid rgb(53, 173, 233);
    height: 180px;
    width: 340px;
    box-shadow: 0px 0px 3vw rgb(239, 90, 139);
    transform: scale3d(1.01,1.01,1.01);
}
#topic{
    text-align: center;
    font-size: 5vh;
    /* border: 1px solid white; */
    margin: 3vh;
    /* padding-top: ; */
}
#imgcont{
    /* border: 1px solid white; */
    margin-left: 3vw;
}
#details{
    margin: 3vh;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.lg{
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: blueviolet;
    box-shadow: 0px 0px 15px magenta;
    padding: 10px;
    position: absolute;
    top: 7vh;
    left: -3vw;
}