#discussionbody{
    margin: 2vw;
    border-radius: 3vh;
    /* border: 1px solid white; */
    padding: 0vh 0vh 1vh 0vh; 
    background:linear-gradient(to right,rgb(35,23,85),rgb(22,13,72));
}
 
.discbanner{
    background-image: url('/public/images/discuss.jpg');
    /* aspect-ratio: 6/1; */
    background-repeat: round;
    border-radius: 3vh 3vh 0 0;
    display: flex;
    height: 60vh;
    /* border: 2px solid green; */
}

#disc_header h1{
    font-family: 'Trebuchet MS';
    width: 15vw;
    font-size: 3.8rem;
    margin: 5vw;
    color: azure;
}

#discussion_block{
    margin: 2vw;
    padding: 1vw;
    /* border: 1px solid crimson; */
    border-radius: 2vw;
    background-color: darkslateblue;
}

#asker{
    display: flex;
    /* border: 1px solid salmon; */
}

#pfp_div{
    height: 8vh;
    width: 8vh;
    border-radius: 4vh;
    /* border: 1px solid white; */
    margin: 0.5vw;
}
#pfpic{
    height: 8vh;
    width: 8vh;
}
#asker_id{
    font-size: 2vw;
    /* border: 1px solid maroon; */
    margin: 1vw;
    color: white;
}

#ques{
    color: white;
    font-size: 1.7vw;
    text-align: justify;
    /* border: 1px solid salmon; */
    padding: 0.5vw;
}

#ques_tags{
    position: relative;
    display: flex;
    color: white;
    /* border: 1px solid salmon; */
    padding: 0.5vw;
}

.q_tag{
    background-color: rgb(35,23,85);
    color: white;
    border: 0.5px solid white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 100%;
    height: auto;
    border-radius: 2.2vh;
    padding: 0vw 2.2vh;
    margin-right: 1vw;
}

#q_date{
    position: absolute;
    /* display: inline; */
    /* border: 2px solid yellow; */
    right: 0.1vw;
}

#dis{
    cursor: pointer;
}